/****** HEADER ******/
$header-bg: #0285ee;
$header-text: #ffffff;
$header-height: 4rem;
$header-fontsize: 1.75rem;

/****** CONTENT **********/
$scrollbar-track: #ffffff;
$scrollbar-thumb: #e1e1e1;
$scrollbar-width: 0.5rem;

/******* ITEM *************/
$item-border: #baddfe;
$item-text: #999999;
$item-text-strong: #000000;
$item-padding: 0.75rem;
$item-edit-background: #dddddd;
$item-edit-text: #666666;
$item-edit-width: 2rem;

/********* MENU ***********/
$menu-bg: #000;
$menu-text: #ffffff;
$menu-height: $header-height;
